
.title{
  text-align:left;
  margin:30px;
}
.card {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 6px 13px -3px rgba(0, 12, 66, 0.1), 0 0 1px rgba(0, 30, 100, 0.1);
  border-radius: 12px;
  margin:30px;
  height:auto;
}
.card img{
  border-radius:50%;
}